FULLPROJECT/Tier1Project/SlaughterhouseAnimalClient/SlaughterhouseAnimalClient/Web References/Slaughterhouse/ISlaughterhouseWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://webservice.tier2" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://webservice.tier2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.tier2">
      <xs:element name="readIncomingMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="readIncomingMessageResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="readIncomingMessageResponse">
    <wsdl:part name="parameters" element="ns:readIncomingMessageResponse" />
  </wsdl:message>
  <wsdl:message name="readIncomingMessageRequest">
    <wsdl:part name="parameters" element="ns:readIncomingMessage" />
  </wsdl:message>
  <wsdl:portType name="ISlaughterhouseWebServicePortType">
    <wsdl:operation name="readIncomingMessage">
      <wsdl:input wsaw:Action="urn:readIncomingMessage" message="ns:readIncomingMessageRequest" />
      <wsdl:output wsaw:Action="urn:readIncomingMessageResponse" message="ns:readIncomingMessageResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISlaughterhouseWebServiceSoap11Binding" type="ns:ISlaughterhouseWebServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="readIncomingMessage">
      <soap:operation soapAction="urn:readIncomingMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISlaughterhouseWebServiceSoap12Binding" type="ns:ISlaughterhouseWebServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="readIncomingMessage">
      <soap12:operation soapAction="urn:readIncomingMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISlaughterhouseWebServiceHttpBinding" type="ns:ISlaughterhouseWebServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="readIncomingMessage">
      <http:operation location="readIncomingMessage" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISlaughterhouseWebService">
    <wsdl:port name="ISlaughterhouseWebServiceHttpEndpoint" binding="ns:ISlaughterhouseWebServiceHttpBinding">
      <http:address location="http://localhost:8080/axis2/services/ISlaughterhouseWebService.ISlaughterhouseWebServiceHttpEndpoint/" />
    </wsdl:port>
    <wsdl:port name="ISlaughterhouseWebServiceHttpSoap12Endpoint" binding="ns:ISlaughterhouseWebServiceSoap12Binding">
      <soap12:address location="http://localhost:8080/axis2/services/ISlaughterhouseWebService.ISlaughterhouseWebServiceHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="ISlaughterhouseWebServiceHttpSoap11Endpoint" binding="ns:ISlaughterhouseWebServiceSoap11Binding">
      <soap:address location="http://localhost:8080/axis2/services/ISlaughterhouseWebService.ISlaughterhouseWebServiceHttpSoap11Endpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>