FULLPROJECT/SlaughterHouse/resources/ISlaughterhouseWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.tier2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://webservice.tier2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.tier2">
            <xs:element name="contactTier2">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="contactTier2Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="contactTier2Request">
    <wsdl:part name="parameters" element="ns:contactTier2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="contactTier2Response">
    <wsdl:part name="parameters" element="ns:contactTier2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ISlaughterhouseWebServicePortType">
    <wsdl:operation name="contactTier2">
      <wsdl:input message="ns:contactTier2Request" wsaw:Action="urn:contactTier2">
    </wsdl:input>
      <wsdl:output message="ns:contactTier2Response" wsaw:Action="urn:contactTier2Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISlaughterhouseWebServiceSoap11Binding" type="ns:ISlaughterhouseWebServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="contactTier2">
      <soap:operation soapAction="urn:contactTier2" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISlaughterhouseWebServiceSoap12Binding" type="ns:ISlaughterhouseWebServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="contactTier2">
      <soap12:operation soapAction="urn:contactTier2" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISlaughterhouseWebServiceHttpBinding" type="ns:ISlaughterhouseWebServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="contactTier2">
      <http:operation location="contactTier2"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISlaughterhouseWebService">
    <wsdl:port name="ISlaughterhouseWebServiceHttpEndpoint" binding="ns:ISlaughterhouseWebServiceHttpBinding">
      <http:address location="http://localhost:8080/axis2/services/ISlaughterhouseWebService"/>
    </wsdl:port>
    <wsdl:port name="ISlaughterhouseWebServiceHttpSoap12Endpoint" binding="ns:ISlaughterhouseWebServiceSoap12Binding">
      <soap12:address location="http://localhost:8080/axis2/services/ISlaughterhouseWebService"/>
    </wsdl:port>
    <wsdl:port name="ISlaughterhouseWebServiceHttpSoap11Endpoint" binding="ns:ISlaughterhouseWebServiceSoap11Binding">
      <soap:address location="http://localhost:8080/axis2/services/ISlaughterhouseWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
