FULLPROJECT/SlaughterHouse/ISlaughterhouseWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://webservice.tier2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://webservice.tier2">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.tier2">
            <xs:element name="contactTier2">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="contactTier2Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="contactTier2Request">
        <wsdl:part name="parameters" element="ns:contactTier2"/>
    </wsdl:message>
    <wsdl:message name="contactTier2Response">
        <wsdl:part name="parameters" element="ns:contactTier2Response"/>
    </wsdl:message>
    <wsdl:portType name="ISlaughterhouseWebServicePortType">
        <wsdl:operation name="contactTier2">
            <wsdl:input message="ns:contactTier2Request" wsaw:Action="urn:contactTier2"/>
            <wsdl:output message="ns:contactTier2Response" wsaw:Action="urn:contactTier2Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ISlaughterhouseWebServiceSoap11Binding" type="ns:ISlaughterhouseWebServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="contactTier2">
            <soap:operation soapAction="urn:contactTier2" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ISlaughterhouseWebServiceSoap12Binding" type="ns:ISlaughterhouseWebServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="contactTier2">
            <soap12:operation soapAction="urn:contactTier2" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ISlaughterhouseWebServiceHttpBinding" type="ns:ISlaughterhouseWebServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="contactTier2">
            <http:operation location="contactTier2"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ISlaughterhouseWebService">
        <wsdl:port name="ISlaughterhouseWebServiceHttpSoap11Endpoint" binding="ns:ISlaughterhouseWebServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/ISlaughterhouseWebService"/>
        </wsdl:port>
        <wsdl:port name="ISlaughterhouseWebServiceHttpSoap12Endpoint" binding="ns:ISlaughterhouseWebServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/ISlaughterhouseWebService"/>
        </wsdl:port>
        <wsdl:port name="ISlaughterhouseWebServiceHttpEndpoint" binding="ns:ISlaughterhouseWebServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/ISlaughterhouseWebService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
