FULLPROJECT/Tier1Project/BadPackage Client C#/RegisterAnimalClient/Web References/localhost/IWebServiceBadPackage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://webservice" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice">
      <xs:element name="getBadPackages">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getBadPackagesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getBadPackagesResponse">
    <wsdl:part name="parameters" element="ns:getBadPackagesResponse" />
  </wsdl:message>
  <wsdl:message name="getBadPackagesRequest">
    <wsdl:part name="parameters" element="ns:getBadPackages" />
  </wsdl:message>
  <wsdl:portType name="IWebServiceBadPackagePortType">
    <wsdl:operation name="getBadPackages">
      <wsdl:input wsaw:Action="urn:getBadPackages" message="ns:getBadPackagesRequest" />
      <wsdl:output wsaw:Action="urn:getBadPackagesResponse" message="ns:getBadPackagesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IWebServiceBadPackageHttpBinding" type="ns:IWebServiceBadPackagePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="getBadPackages">
      <http:operation location="getBadPackages" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IWebServiceBadPackageSoap12Binding" type="ns:IWebServiceBadPackagePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBadPackages">
      <soap12:operation soapAction="urn:getBadPackages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IWebServiceBadPackageSoap11Binding" type="ns:IWebServiceBadPackagePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBadPackages">
      <soap:operation soapAction="urn:getBadPackages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IWebServiceBadPackage">
    <wsdl:port name="IWebServiceBadPackageHttpSoap11Endpoint" binding="ns:IWebServiceBadPackageSoap11Binding">
      <soap:address location="http://localhost:8080/axis2/services/IWebServiceBadPackage.IWebServiceBadPackageHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="IWebServiceBadPackageHttpEndpoint" binding="ns:IWebServiceBadPackageHttpBinding">
      <http:address location="http://localhost:8080/axis2/services/IWebServiceBadPackage.IWebServiceBadPackageHttpEndpoint/" />
    </wsdl:port>
    <wsdl:port name="IWebServiceBadPackageHttpSoap12Endpoint" binding="ns:IWebServiceBadPackageSoap12Binding">
      <soap12:address location="http://localhost:8080/axis2/services/IWebServiceBadPackage.IWebServiceBadPackageHttpSoap12Endpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>